

$color-primary: #28C7FA;
$color-primary-2: #12BAF1;

$color-secondary: #775ADA;
$color-secondary-light: rgb(150, 124, 236);
$color-secondary-dark: rgb(121, 95, 206);

$color-primary-dark: #002651;

$color-grey-light: #F5F5F5;
$color-grey-light-2:rgb(230, 230, 230);

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.5rem;

// GRID
$grid-width: 125rem;
$gutter-vertical: 7rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 3rem;