.nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    position: initial;
    padding: 1.5rem 3rem;
    box-shadow: 0 0.2rem 0.8rem rgba($color-black, 0.2);
  }

  &__logo {
    width: 20rem;
  }

  &__links-wrapper {
    flex: 0 0 30%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    @include respond(tab-port) { // posicionar fuera el menu para desplegarlo al clicar
      display: none;
      background-color: $color-primary;
      flex: 0 0 100%;
      position: absolute;
      right: 0%;
      top: 0%;
      color: white;
      width: 100%;
      transform: translateX(100%);
    }
  }


  &__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond(tab-port) {
      order: 4;
      flex-direction: column;
      flex: 0 0 100%;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &__item {
    margin: 2rem;
  }

  &__link {
    padding: 1rem 2rem;
    text-decoration: none;
    color: $color-black;
    transition: all 0.2s ease-out;
  }

  &__item:hover &__link {
    background-color: $color-secondary;
    color: $color-white;
    border-radius: 2.5rem;
    box-shadow: 0 0.2rem 0.8rem rgba($color-black, 0.5);
  }

  &__btn {
    order: 5;

    @include respond(tab-port) {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
      margin-top: 1.5rem;
    }
  }

  // CRUZ PARA CERRAR EL MENU EN MOVIL
  &__cross {
    display: none;
    padding: 2rem 1rem;
    @include respond(tab-port) {
      display: block;
      transform: translateX(100%);
      position: absolute;
      top: 0%;
      left: 0%;
      cursor: pointer;
    }
  }

  &__cross:before, &__cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  &__cross:before {
    transform: rotate(45deg);
  }
  &__cross:after {
    transform: rotate(-45deg);
  }

  // -------------------


  // BURGER MENU
  &__burger {
    display: none;
    width: 4rem;
    margin: 2rem auto;
    transition: all 0.3s;
    cursor: pointer;

    &-line {
      border: 1.5px solid black;
      border-radius: 2rem;
      margin-bottom: 0.8rem;
    }

    @include respond(tab-port) {
      display: inline-block;
      text-align: right;
    }
  }
  // -----------------
}

.show-menu {
  // transform: translateX(0%);
  // display: flex;
  animation: translateTo0 .3s;
}

.hide-menu {
  display: none;
}