.service {
  background-color: $color-white;
  padding: 5rem 2em;
  border-radius: 4rem;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.30);
  height: 46rem;

  @media screen and (max-width: 56.24em) {
    height: auto;
  }

  @media (min-width: 56em) and (max-width: 80em) {
    height: 55rem;
  }

  &__icon {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-right: auto;
  }

  .heading-tertiary {
      width: 70%;
      @include respond(tab-port) {
        width: 80%;
      }
  }

  .paragraph{
      text-align: left;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.50);
  }

}
