/* TARJETA SERVICIO */

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-white;
  min-height: 50rem;

  @include respond(tab-land){
    min-height: 65rem;
  }

  @include respond(tab-port){
    min-height: auto;
  }

  padding: 4rem 2rem;
  border-radius: 4rem;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.30);


  cursor: pointer;

  &__icon {
    display: block;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    margin-right: auto;
  }

  .heading-tertiary {
      width: 95%;
  }

  .paragraph{
      text-align: left;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.0);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.50);
  }

}
