
@keyframes moveInLeft {
    0% { // antes de que empieze la animacion, ESTADO INICIAL
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translate(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% { // antes de que empiece la animacion, ESTADO INICIAL
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
