/* ARCHIVO BASE, DÓNDE HACER RESET DEL CSS Y AÑADIR ALGUNA PROPIEDAD MÁS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(mobile) {
    font-size: 45%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
  // padding: 0rem 3rem;
 overflow-x: hidden; // !OJO

  @include respond(tab-port) {
    padding: 0;
  }
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection,
span::selection {
  background-color: $color-secondary-dark;
  color: #fff;
}

::-webkit-scrollbar{
  width: 1.5rem;
  background-color: $color-grey-light-2;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border-radius: 1rem;
}
