.hero {
  min-height: 75vh;
  // border: 1px solid black;


  //---------DIRTY HACK
  #mobile-col {
    display: none;
    @include respond(tab-port) {
      display: block;
    }

    .hero__illus{
      @include respond(tab-port) {
        display: block;
        margin: 0 auto;
        width: 60rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
      }
    }
  }

  .col-1-of-2:nth-of-type(3){
    @include respond(tab-port) {
      display: none;
    }
  }
  //------ END DIRTY HACK

  @include respond(phone) {
    padding: 0rem;
  }
  &__welcome {
    width: 100%;
    padding: 5rem 2rem;
  }

  &__illus {
    // border: 1px solid black;
    padding-top: 1rem;
    padding-right: 2rem;

    svg {
     display: block;
     width: 100%;

      @include respond(phone) {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__btn {
    font-size: 1.8rem;
    padding: 2rem 3rem;
  }
}

.services {
  display: block;
  background-image: url(../assets/img/bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  padding: 10rem;

  .heading-secondary {
    color: $color-white;
  }

  @include respond(phone) {
    padding: 17rem 1rem 5rem 1rem;
    margin-top: .5rem;
  }
}

.client-opinion {
    padding: 5rem;
    .heading-secondary {
        color: $color-black;
    }

}

.trabajos {
    background-color: $color-grey-light;
    padding: 5rem;
}

.folleto {
  padding: 5rem;

  .btn {
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    padding: 2rem 2rem;
  }
}