.hero {
  min-height: 75vh;
  // border: 1px solid black;
  padding: 5rem 0;
  //---------DIRTY HACK
  #mobile-col {
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }

  .col-1-of-2:nth-of-type(3) {
    @include respond(tab-port) {
      display: none;
    }
  }
  //------ END DIRTY HACK

  @include respond(phone) {
    padding: 0rem;
  }

  &__welcome {
    width: 100%;
    padding: 5rem 2rem;
    @include respond(tab-port) {
      padding-top: 0;
    }

    .heading-primary {
      animation: moveInLeft .6s ease-in-out;
    }

    .paragraph {
      animation: moveInRight .6s ease-in-out .3s;
    }

  }

  &__illus {
    // border: 1px solid black;
    padding-top: 1rem;
    padding-right: 2rem;
    width: 100%;

    @include respond(tab-port) {
      display: block;
      width: 44rem;
      margin: 5rem auto;
    }
  }

  &__btn {
    font-size: 1.8rem;
    padding: 2rem 3rem;
    background-color: transparent;
    border: 2px solid $color-secondary;
    color: $color-secondary;
    animation: moveInLeft .6s ease-in-out .6s;

    &:hover {
      background-color: $color-secondary;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2); // sombra 0 en x y 10px en y, blurry 20px y color
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); // al clicar el boton hacemos la sombra más pequeña
    }
  }
}

.services {

  @include bg("../assets/img/bg1.svg");

  padding: 10rem;

  .heading-secondary {
    color: $color-white;
  }

  @include respond(phone) {
    padding: 8em 1rem 5rem 1rem;
    margin-top: 0.5rem;
  }
}

.client-opinion {
  padding: 5rem;
  .heading-secondary {
    color: $color-black;
  }
}

.trabajos {
  background-color: $color-grey-light;
  padding: 5rem;
}

.folleto {
  padding: 5rem;

  .btn {
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    padding: 2rem 2rem;

  }
  font-size: 1.5rem;

}

.contact {
  padding: 10rem;

  @include bg("../assets/img/bg2.svg")
}